
mixin color(modifier, term, definition)
  .color.colors__item
    figure.color__area(class=`color__area_${modifier}`)
    dl.color__description
      dt=term
      dd=definition
//- mixin color__area(modifier)
//-   figure.color__area(class=`color__area_${modifier}`)

//- mixin color__description(term, definition)
//- dl.color__description
//-   dt=term
//-   dd=definition